.partOne {
    width: 100%;
    height: 100vh;
}

.divider{
    display:flex;
    z-index: 1;
    position: relative;
}
.partOneTxt {
    width: 100%;
    height: auto;
}

.titleOne {
    color: rgb(200, 200, 200);
    display: flex;
    justify-content: center;
    font-family: 'Patua One', sans-serif;
    &:hover{
        color:rgb(82, 93, 82);
    }
}


.paraOne {
    color: rgb(200, 200, 200);
    font-size: 26px;
    padding: 15px;
    text-align: center;
    display: flex;
}