.container {
    color: white;
    position: relative;
    margin-top: 10%;
}

.titlebar {
    font-size: 26px;
    font-family:"Montserrat", sans-serif;
    position: relative;
    margin-bottom: 2%;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
}

.test {
    font-size: 20px;
    color: orange;
}