.btn-orange {
    background: rgb(240, 108, 0);
    color: white;
    font-family: 'Russo One', sans-serif;
    margin-top:1%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    &:hover{
        background: rgb(182, 88, 11);
        color:rgb(182, 182, 181);
    }
    
}
.blanc  {
    color: white;
    font-family:"Montserrat", sans-serif;
    font-size:1.5em;
    display: flex;
    justify-content: center;
    text-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.centerTxt{
    display: flex;
    justify-content: center;
    margin-top:5%;
}
.container{
    margin-bottom: 0%;
    .mb-4{
        h2{
            font-size:2.5em;
            &:hover{
                color: rgb(202, 202, 202);
            } 
        }
    input{
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
    textarea{
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}
}