.navbar {
    background: #ffff;
}

.navbar-nav {
    float: none;
    margin: 0 auto;
    // display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float: none;
}

@media only screen and (max-width: 670px) {
    .navbar-nav > li {
        display: block;
    }
}