.logo {
    display: flex;
    justify-content: center;
}
.img{
    width: 600px;
    height:  600px;
    // background: url(/img/logo.png);
    background: url(../img/logonoir.png);
    background-size: cover;
    background-position: center;
} 

.fond{
    background: url(/img/greg.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}


.logo {
    position: fixed;
    width: 100%;
    //  display: flex;
    //  justify-content: center;
}

@media (max-width: 576px){ // Landscape Phone
    .img-fluid {
        width: 45%;
        height: auto;
    }
};
.appear{
    opacity:0;
    position: relative;
    top: 100px;
}
.grand{
    font-size:2em;
}