.logo {
    display: flex;
    justify-content: center;
}
.img{
    width: 400px;
    height: 400px;
    background: url(/img/logo.png);
    background-size: cover;
    background-position: center;
} 