.logo {
    display: flex;
    justify-content: center;
}
.img{
    width: 600px;
    height:  600px;
    // background: url(/img/logo.png);
    background: url(../img/logonoir.png);
    background-size: cover;
    background-position: center;
} 