.rooftop {
    margin-top: 5%;
}

.title_rooftop {
    display: flex;
    justify-content: center;
}

.img_rooftop {
    width: 100%;
    height: 300px;
    background-color: red;
    margin-top: 5%;
}