@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import 'vars';
@import 'image';
@import 'footer';
@import 'header';
@import 'image';
@import "contact";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #2c2c2c;
}

.blanc {
    color: white;
}