@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');
@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import 'vars';
@import 'image';
@import 'footer';
@import 'header';
@import 'image';
@import "contact";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #2c2c2c;
}


.banner {
    width: 100%;
    height: 100vh;
}

main {
    position: relative;
    background: #2c2c2c;
    z-index: 1;
}