@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');
@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC:400,700');
@import url('https://fonts.googleapis.com/css?family=Gothic+A1');
@import 'vars';
@import 'accueil';
@import 'image';
@import 'footer';
@import 'header';
@import 'image';
@import "contact";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #2c2c2c;
}

